.text{
    display: none;
}

#product, #development, #design{
    display: none;
    font-family: 'Copse', serif;
    font-size: 16px;
  }

  .contact_us{
    background-image: url('../images/backgrounds/c_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;  
  }

  #btn{
      display: none;
  }
  .footer p{
    margin-top: 12px;
    font-family: 'Times New Roman', Times, serif;
    /* justify-self: center; */
  }

#footer{
    text-align: center;
    align-items: center;
    /* margin-left: 35%; */
    padding-top: 28px;
}