@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
/* To remove default settings */
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

#product, #development, #design{
  display: none;
  font-family: 'Copse', serif;
  font-size: 16px;
  margin: 10%;
}

#product_img, #development_img, #design_img{
  padding: 0% 1117% 0% 1117%;
}
/* .product img{
  margin-left: -80%;
} */

/* .what-we-do{
  font-family: 'Quattrocento', serif;
  text-align: center;
  padding-top: 40px;
  font-family: 'Gabriela', serif;
} */

.what_we_do{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  display: flex; 
  padding-top: 3%;
}

#what_we_do #heading{
 text-align: center;
 /* margin-top: 3%; */
}

  /* padding-bottom: 38px; */


#portfolio{
  text-align: center;
  margin: 5% 0% 15% 0%; 
}
 #row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left:10%;
  padding: .5% 10%;
 }
  /* margin-right: 16%;  */


.portfolio h2{
    text-align: center;
    margin-left: 0.5%;
    /* margin-bottom: -5%; */
    /* padding-top:40px; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
  }


  .col-md-3 img{
    max-width: 100%;
    max-height: 100%;
    margin: 5px;
  }

  /* .row img{
      height: 50px;
  } */

  .contact_us{
    background-image: url('../images/backgrounds/c_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;  
  }

  #contact_us{
    text-align: center;
      margin-top: 5%;
  }
  #contact_us h2{
    padding: 1.5%;
  }

  #form{
    padding: 0% 15% 5% 15%;
  }
  input[type=text],input[type=email],#formtext{
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: .5%;
    font-weight: 700;
  }
  

  /* #btn{
      display: none;
  } */
  .footer p{
    /* margin-top: 12px; */
    font-family: 'Times New Roman', Times, serif;
    /* justify-self: center; */
  }

#footer{
    text-align: center;
    align-items: center;
    /* margin-left: 35%; */
    padding-top: 28px;
}

 #footer img{
  padding: 5px;
} 

#footer img a{
  /* outline-style: none; */
  list-style-type: none;
}