@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
html{
    scroll-behavior: smooth;
}

.landing-page{
    background-image: url('../images/backgrounds/h_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    height: 80vh;
    color: white;
    text-align: center;
    font-family: sans-serif;
    /* margin-top: 20%; */
}

/* .container1{
    margin-top: 20px;
} */

.landing-page h1{
padding-top: 5%;
}

/* .landing-page p{
/* padding: 1%; */


.landing-page #logo{
    margin-top: 12.5%;
}

#mouse-click{
    margin-top: 10%;
}